<template>
  <div
    class="container"
  >
    <div class="row my-5">
      <div class="col">
        <div
          class="btn-group d-flex justify-content-center"
          role="group"
          aria-label="Case actions"
        >
          <div class="dropdown">
            <button
              id="dropdownMenuButton1"
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown button
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="dropdownMenuButton1"
            >
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                >Action</a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                >Another action</a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                >Something else here</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { } from 'bootstrap'

export default {
  data () {
    return { }
  },
  computed: {
  },
  watch: {
  },
  created () {
  },
  methods: {
  }
}
</script>
